@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

html,
body {
  background: #efefbb;
  background: linear-gradient(to right, rgb(197, 230, 236), rgb(239, 187, 230));
  color: #212121;
  margin: 0;
  font-family: rubik;
  overflow-x: hidden;
}
